<a href="https://colab.research.google.com/github/EarelJohnOnod/CPE009A-OOP/blob/main/Demo5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
class Car:

  def __init__(self, name, color, mileage):
    self.name = name
    self.color = color
    self.mileage = mileage

obj1 = Car("BMW", "Red", 1000)
obj2 = Car ("Toyota", "Blue", 1200)

print(obj1.name)
print(obj1.color)
print(obj1.mileage)

print(" ")

print(obj2.name)
print(obj2.color)
print(obj2.mileage)

BMW
Red
1000

Toyota
Blue
1200

In [9]:
class Car:

  def __init__(self, name, mileage):
    self.name = name
    self.mileage = mileage

  def description(self):
      return "The {self.name} car gives the mileage of {self.mileage} km/l"

class BMW(Car):
  pass

class Audi(Car):
  def audi_desc(self):
    return "This is the description method of class Audi."

obj1 = BMW("BMW 7-series", 39.53)
print(obj1.description())

obj2 = Audi("Audi A8 L", 14)
print(obj2.description())
print(obj2.audi_desc())

The {self.name} car gives the mileage of {self.mileage} km/l
The {self.name} car gives the mileage of {self.mileage} km/l
This is the description method of class Audi.

**Application 1 - Write a Phython program that prints your student information with the following attributes: Name, Age, Course, and Section**

In [15]:
class student:

  def __init__(self, name, age, course, section):
    self.name = name
    self.age = age
    self.course = course
    self.section = section

me = student("Earel John E. Onod", "18", "CPE009A", "CPE11S2")

print("Name: " + me.name)
print("Age: " + me.age)
print("Course: " + me.course)
print("Section: " + me.section)

Name: Earel John E. Onod
Age: 18
Course: CPE009A
Section: CPE11S2