<a href="https://colab.research.google.com/github/EarelJohnOnod/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
print(bool("Hello"))
print(bool(15))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool(-1))
print(bool("Zero"))
print(bool(9 > 10))
print(bool(2 % 10))

True
True
False
False
False
False
False
False
True
True
False
True

Functions can return a boolean

In [15]:
def myFunction():
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [16]:
def aStatement():
  six = 6

if aStatement():
  print("YES!")
else:
  print("NO!")

NO!

In [18]:
def myFunction():
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

In [19]:
print(10 > 9)

a = 6
b = 7
print(a == b)
print(a != b)

True
False
True

**Python Operators**

In [26]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 % 5)
print(10 / 3)
print(10 // 3)
print(10 ** 2)

15
5
50
0
3.3333333333333335
3
100

**Python Bitwise Operators**

In [45]:
a = 60
b = 13
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 2)
print(a >> 2)

12
61
49
-61
240
15

**Python Assignment Operators**

In [43]:
x = 0

x += 3 # 0 + 3

print(x)

x -= 3 # 3 -3

print(x)

x *= 3 # 0 * 3

print(x)

x /= 3 # 0 / 3

print(x)

x %= 3 # 0 % 3

print(x)

3
0
0
0.0
0.0

**Logical Operators**

In [48]:
expectation = True
reality = False
truth = expectation and reality

print(truth)

False

In [53]:
y = 60
z = 13
same = y>z and z>y
notsame = not(y>z and z>y)
oneisright = y>z or z>y

print(same)
print(notsame)
print(oneisright)

False
True
True

**Identity Operator**

In [57]:
print(a is a)
print(a is not a)
print(a is z)
print(a is not z)

True
False
False
True

**Loop Statements**

In [76]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:

  if x == "Thursday":
    print(x)

Thursday

Looping through string

In [78]:
for x in "week":
  print(x)

w
e
e
k

Simple loop statement

In [69]:
import time

sentence = ["Hello " , "there", "."]

for x in sentence:
  time.sleep(1)
  print(x)

Hello
there
.

**The range() Function**

In [84]:
for x in range(6):
  print(x)
for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [85]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Python While Loops**

In [86]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

**The continue Statement**

In [95]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**The else Statement**

In [97]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6