<a href="https://colab.research.google.com/github/EarelJohnOnod/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [ ]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [ ]:
if 5 > 2:
  print("Five is greater than two") #comparison of numbers 5 and 2

Five is greater than two

Variable Naming Conventions

In [ ]:
# a variable must not start with a "number" or have a "space"

Python Variables

In [ ]:
x = 1 # a single variable with a value
a, b = 0, -1 # exlusive based on order?

print(a)
print(b)
print (x)

b = "Sally"

print(b)

0
-1
1
Sally

Casting

In [ ]:
b = "sally" # This is a string
b = int(4)

print (b)

b = float(4)

print(b)

##############################

x = 5
y = "John"

print(type(x))
print(type(y))

4
4.0
<class 'int'>
<class 'str'>

"Double Quotes" or 'Single Quotes'

In [ ]:
y = "John"

print(y)

y = 'John'

print (y)

John
John

Case Sensitive

In [ ]:
a = 4
A = "Sally"
# A will not overwrite a

Multiple Variables

In [ ]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)

# proves my previous thought

one
two
three

One Value to Multiple Variables

In [ ]:
x = y = z = "four"

print(x)
print(y)
print(z)

four
four
four

Output Variables

In [ ]:
x = "enjoying"
print("Python programming is " + x)

# another one

x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is #enjoying

Arithmetic Operations

In [4]:
x = 5
y = 3
print(x + y)

# another one

x = 5
y = 3
sum = x + y
sum

# another one

a, b, c = 0, -1, 6
c % 3
c

8

6

Comparison Operators

In [ ]:
# ==, <, >, <=, >=

Logical Operators

In [ ]:
# and, or, not

Identity Operators

In [7]:
#is, is not
# this time, it's the object

a, b, c = 0, -1, 5
a is a
a is b
a is c
b is a
b is b
b is c
c is a
c is b
c is c

True

Bitwise Operators

In [ ]:
# & = AND, | = OR, ^ = XOR, ~ = NOT, << = ZERO FILL / LEFT SHIFT, >> = SIGNED / RIGHT SHIFT